name: Test and Vet

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - release-v2.*.*
  release:
    types:
      - published
      - created
      - edited

defaults:
  run:
    shell: bash

jobs:
  test:
    runs-on: ubuntu-24.04

    steps:
    - name: Install Go
      uses: actions/setup-go@v5.1.0
      with:
        go-version: 1.23.3

    - name: Checkout code
      uses: actions/checkout@v4.2.2

    - name: Cache Go module and build cache
      uses: actions/cache@v4.1.2
      with:
        key: go-${{ hashFiles('**/go.sum') }}
        path: |
          ~/go/pkg/mod
        restore-keys: |
          go-

    - name: Install tennvet
      run: |
        GOBIN=$(pwd)/v2 go install github.com/tenntenn/tennvet@latest

    - name: Test and vet
      run: |
        cd v2
        go vet ./...
        go vet -vettool=$(pwd)/tennvet ./...
        go test -v -race ./...
